<div class="message-wrapper">
<%# <% if @companyMessages.present? %>
  <%# <% chat.each do |c| %>
    <div class="message">
       <div class="message-user">
         <%= room.company.company_name %>
       </div>
       <div class="message-content">
         <%= room.content %>
       </div>
       <div class="message-date">
         <%= room.created_at %>
       </div>
    </div>
  <%# <% end %>
<%# <% end %>
</div>