<div class="message-wrapper">
<%# <% if @companyMessages.present? %>
  <% chats.each do |chat| %>
    <div class="message">
       <div class="message-user">
         <%= chat.company.company_name %>
       </div>
       <div class="message-content">
         <%= chat.content %>
       </div>
       <div class="message-date">
         <%= chat.created_at %>
       </div>
    </div>
  <% end %>
<%# <% end %>
</div>